*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}

.full-screen{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(78, 78, 78, 0.4)
}

.full-screen video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}




div#welcome-tableContainer{
    display: table;
}
div#welcome-tableRow1{
    display: table-row;
}



h1.title{
    display: table-cell;

    font-family: 'century Gothic',sans-serif;
    color: #f5d9dc;
    font-size: 400%;
    text-shadow: 0 0 300px #f5d9dc;
    padding: 80px;
}

.btn{
    margin-left: 160px;


    border-radius: 36px;
    border: 18px solid;


    color: #f5d9dc;
    text-decoration: none;
    text-align: center;
    font-family: 'century Gothic', sans-serif;
    padding: 30px 30px;

    font-weight: bold;
    font-size: 40px;


}

.btn:hover{
    color: #f5d9dc;
}

.btn {
    transform: translateZ(0); position: relative;
    transition-property: color; transition-duration: 0.3s;
}
.btn:before {
    content: "";position: absolute; z-index: -1; top: 0;
    left: 0; right: 0; bottom: 0; background: #f5d9dc;
    transform-origin: 0 50%;transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.btn:hover, .btn:focus, .btn:active {
    color: white;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
    transform: scaleX(1);
}

h1.title {
    transform: translateZ(0); position: relative;
    transition-property: color; transition-duration: 0.1s;
}

h1.title:hover, h1.title:focus, h1.title:active {
    color: white;
}